doctype html
html
    head
        title Admin page
        link(rel="stylesheet" href="/bower_components/ng-admin/build/ng-admin.min.css")
        script(src="/bower_components/ng-admin/build/ng-admin.min.js")
        script(src="/js/admin.js")
    body(ng-app="adminApp")
        .ui-view